*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-primery:hsl(223, 26%, 13%);
    --color-secoundary:#8b6b55;
    --color-toggle: #55698b;
    --color-white:white;
    --color-black:black;
    --color-gray0:#f8f8f8;
    --color-gray1:#dbe1e8;
    --color-gray2:#b2becd;
    --color-gray3:#6c7983;
    --color-gray4:#454e56;
    --color-gray5:#2a2e35;
    --color-gray6:#12181b;
    --br-sm-6:14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3)


}
.light-mode{
    --color-primery:rgb(205, 213, 212);
    --color-secoundary:#55698b;
    --color-toggle: #8b6b55;
    --color-white:rgb(13, 10, 10);
    --color-black:black;
    --color-gray0:#f8f8f8;
    --color-gray1:#dbe1e8;
    --color-gray2:#b2becd;
    --color-gray3:#6c7983;
    --color-gray4:#454e56;
    --color-gray5:#8b93a1;
    --color-gray6:#12181b;
}

body{
    background-color: var(--color-primery);
    font-family: 'Merriweather', serif;
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    color:var(--color-white);
    transition: all .5 ease-in-out;
} 
a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

}
header{
    min-height: 100vh;
    color:var(--color-white);
    overflow: hidden;
}
section{
    min-height: 100vh;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 8rem;
}
h4{
    color: var(--color-gray3);
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all 4 ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display:none;
    transform: translateY(0) scale(1);
}
.sec2{
    display:none;
    transform: translateY(0) scale(1);
}
.sec3{
    display:none;
    transform: translateY(0) scale(1);
}
.sec4{
    display:none;
    transform: translateY(0) scale(1);
}

.controlls{
    position: fixed;
    z-index: 10;
    top: 30%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    .active-btn{
        background-color: var(--color-secoundary) !important;
        transition: all .4 ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-gray3);
        width: 55px;
        height: 55px;
        border-radius: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1) ;
        i{
            font-size: 1.2rem;
            color: var(--color-gray2);
            pointer-events: none;
        }


    }

}
.toggle{
    background-color: var(--color-toggle);
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1) ;
    &:active{
       transform: translateY(-3px); 
    }
    i{
        font-size: 1.2rem;
        color: var(--color-gray2);
        pointer-events: none;
    }
}

.active{
    display: block;
   
    
}
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secoundary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(25% 0%, 74% 0, 47% 100%, 0% 100%);


        }
        .image{
            height: 90%;
            width: 25%;
            margin-left: 7rem;
            background-color: var(--color-black);
            transition: all .4s ease-in-out;
            ;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(50%);
                
                &:hover{
                    filter: grayscale(0%);

                }

                
            }
        }
        
    }
    .right-header{
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-right: 18rem;
         align-items: flex-end;
         margin-top: 5rem;

        .name{
             font-size: 2.5rem;
            span{
                 color: var(--color-secoundary);

            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }   
    }
}

.about-countiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem ;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-iteam{
            border: 1px solid var(--color-gray5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 4px 15px rgba(0,0,0,1);
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secoundary);

                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-white);
                    letter-spacing: 2px;
                    &::before{
                        content: "";
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-gray2);

                    }

                }

            }

            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secoundary);
                box-shadow: 1px 4px 15px rgba(0, 0,0, 32);
               
            }
    
    
            
        }

        
        

        

    }
    .left-about{
        padding-right: 5rem;
        p{
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-white);

        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }


   

}

.contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        margin-top: 20px;
        .contact-info{
            .contact-item{
                margin-bottom: 20px;
               
            }
        }
    }
    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-gray5);
                width: 100%;
                resize: none;
                color: var(--color-white);


            }
            
        }
        .input-control2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }

        }
    }
    

}

.btn-container{
    display: flex;
    align-self:flex-end;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    font-size: medium;
    position: relative;
    border: 1px solid var(--color-secoundary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 1rem;
        
        
    }
    &:hover{
            
        transition: all .4s linear;
        background-color: var(--color-secoundary);
        cursor: pointer;
        
    }
    .btn-icon{
        
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        
       
    }
   
}
.main-title{
    text-align: center;
    h2{
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secoundary);
        }
    }
}

.port-text{
    padding: 2rem o;
    text-align: center;

}
.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-iteam{
        position: relative;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
            cursor: pointer;
            transition: all .4s ease-in-out;
            filter: grayscale(0%);
            &:hover{
                transform: translateY(-5px);
                border: 3px solid var(--color-secoundary);
                box-shadow: 1px 4px 15px rgba(0, 0,0, 32);
                filter: grayscale(100%);
               
            }
        }
        .hover-iteam{
            text-align: center;
        }
       

    }

}
.icons i{
    height: 10%;
}

.icons i:hover{
    
    transition: all .4s linear;
    border-radius: 50%;
    background-color: var(--color-secoundary);
        
    
}
.footer{
    display: flex;
    align-items: center;
    .shape-footer{
        transition: all .4s ease-in-out;
        width: 65%;
        height: 100%;
        background-color: var(--color-secoundary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        clip-path: polygon(24% 0, 53% 0, 28% 100%, 0 100%);


    }
   
    
}

@import './media';


